$font-poppins: "Poppins", sans-serif;

$primary-color: #f72429;
$blue-color: #2d2c74;
body {
  font-family: $font-poppins;
}

.container {
  max-width: 1380px;
  // width: 1380px;
  margin: auto;
}

@media (max-width: 799px) {
  .container {
    padding-left: 5px;
    padding-right: 5px;
  }
}

@media (min-width: 800px) {
  .container {
    padding-left: 5px;
    padding-right: 5px;
  }
}

// MAIN
// Prouct Detail
// Product-left
.product-detail__name {
  .product-detail__title {
    // display: flex;
    // align-items: center;
    // gap: 10px;
    padding-bottom: 10px;
    h1 {
      font-size: 17px;
      font-weight: 700;
      width: 100%;
    }
    .product-detail__code {
      margin-left: 5px;
      background-color: #f1f1f1;
      padding: 2px 5px;
      font-weight: 500;
      font-size: 0.8rem;
      font-weight: bold;
    }
  }
}
// Css Slider-Product-Detail
.sliderProduct__detail {
  height: 332px;
  border-radius: 0.325rem;
  box-shadow:
    0 1px 4px rgba(0, 0, 0, 0.16),
    0 1px 4px rgba(0, 0, 0, 0.16);
  &-image {
    img {
      margin: 0 auto;
      height: auto;
      object-fit: contain;
      width: 332px;
    }
  }
}

.slider-container {
  .image_second {
    /* Container của slider nhỏ */
    margin-top: 20px;
    margin: 0 auto;
    width: 400px;
    .sliderProduct__detail-image_second {
      /* Phần tử chứa ảnh nhỏ */
      padding: 0 10px; // Padding cho mỗi ảnh
      /* Căn giữa nội dung */
      display: flex;
      justify-content: center;
      align-items: center;
      box-sizing: border-box;
      img {
        width: 120px; // Đảm bảo ảnh nhỏ chiếm toàn bộ width của phần tử chứa
        height: auto; // Giữ tỷ lệ của ảnh
        border: 2px solid transparent;
        transition: border 0.3s ease;
      }
    }

    /* Căn giữa toàn bộ slider nhỏ */
    .slick-slide {
      display: flex;
      justify-content: center; // Căn giữa slide
      align-items: center;
      box-sizing: border-box;
    }

    .slick-track {
      display: flex; // Để các slide nằm trên một hàng
    }
    .slick-slide.slick-active.slick-current
      .sliderProduct__detail-image_second
      img {
      border: 1px solid $primary-color; // Thay đổi màu viền của ảnh được chọn
      border-radius: 0.325rem;
    }
    .slick-list {
      margin-top: 10px;
    }
  }
}

.product-detail__warranty {
  display: flex;
  .icon {
    height: auto;
    width: 24px;
    margin-right: 5px;
    color: #43ae4f;
  }
  p {
    color: #43ae4f;
    font-weight: 600;
  }
}
.product-detail__pricing {
  .product-detail__title {
    font-size: 14px;
    font-weight: 650;
    margin: 5px 0;
  }
  .product-detail__prices {
    margin: 8px 0;
    display: flex;
    gap: 10px;
    .product-detail__price {
      font-size: 1.125rem;
      line-height: 1.75rem;
      font-weight: 700;
      color: $primary-color;
    }
    .product-detail__price-old {
      font-size: 0.825rem !important;
      line-height: 1.75rem;
      font-weight: 500;
      color: #a5a5a5;
      text-decoration: line-through;
    }
    .product-detail__discount {
      font-size: 0.825rem !important;
      line-height: 1.75rem;
      color: #a5a5a5;
    }
  }
}
.product-detail__action-buttons {
  display: flex;
  gap: 10px;
  margin-top: 10px;
}
.product-detail__action-button--purchase,
.product-detail__schedule-booking {
  width: calc(100% - 70px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 0.325rem;
  border: 1px solid $primary-color;
  background-color: #fff;
  text-align: center;
  height: 60px;
  color: $primary-color;
  cursor: pointer;
}

.product-detail__action-button--purchase,
.product-detail__schedule-booking span {
  font-size: 14px;
  display: block;
  line-height: 1.25rem;
  font-weight: 700;
}

.product-detail__action-button--purchase,
.product-detail__schedule-booking p {
  font-size: 0.825em;
  margin: 0;
}

.product-detail__action-button--cart {
  width: 60px;
  display: flex;
  height: 60px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
  border: 1px solid #f72429;
  background-color: #fff;
  border-radius: 0.325rem;
  cursor: pointer;
  .icon_cart {
    font-size: 18px;
    color: $primary-color;
    font-weight: 700;
  }
}

.product-detail__action-button--cart span {
  font-size: 7px;
  display: block;
  font-weight: 700;
  color: $primary-color;
}
.product-detail__schedule-booking {
  width: 100%;
  margin: 5px 0;
  background-color: $primary-color;
  color: #fff;
}
.product-detail__info {
  border: 1px solid #a3a3a3;
  border-radius: 0.325rem;
  margin-top: 12px;
  &-header {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 6px 10px;
    background-color: #a3a3a3;
    color: #fff;
    &-icon {
      width: 24px;
      height: 24px;
    }
    &-title {
      font-size: 15px;
      font-weight: 700;
    }
  }
  &-content {
    padding: 10px;
  }
}

@media (max-width: 779px) {
  .product-detail {
    .product-detail__right {
      display: none;
    }
    .mantine-Grid-root {
      width: 100vw; // Chiếm toàn bộ chiều rộng màn hình
      margin: 0; // Loại bỏ margin mặc định
      padding: 0; // Loại bỏ padding mặc định
    }

    .mantine-Grid-inner {
      width: 100%;
      margin: 0; // Loại bỏ margin bên trong grid
      padding: 0; // Loại bỏ padding bên trong grid
    }

    .mantine-Grid-col {
      width: 100%; // Đảm bảo các cột chiếm toàn bộ chiều rộng cột chứa chúng
    }
    .product-detail__left {
      max-width: 100%;
    }
  }
}
.show_Product-info {
  display: none;
  @media (max-width: 799px) {
    display: block;
    margin-top: 10px;
  }
}
// Product-Info-article-meta
.product__article {
  margin-top: 20px;
  border-radius: 12px;
  padding: 10px;
  border: 1px solid hsla(0, 0%, 94%, 0.769);
  box-shadow:
    0 1px 2px 0 rgba(60, 64, 67, 0.1),
    0 2px 6px 2px rgba(60, 64, 67, 0.15);
  margin-bottom: 20px;
  &-header {
    display: flex;
    align-items: center;
    .product__article-icon {
      width: 24px;
      height: 24px;
      color: #f72429;
      margin-right: 5px;
    }
    p {
      font-weight: 600;
      font-size: 0.875rem;
      line-height: 1.25rem;
    }
  }
  @media (max-width: 799px) {
    display: none;
  }
}
.product__article-list {
  margin-top: 20px;
}
.product__article-item {
  display: flex;
  .product__article-info {
    width: auto;
    padding: 0 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .product__article-description {
      p {
        font-weight: 700;
        font-size: 14px;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
    .product__article-meta {
      display: flex;
      gap: 15px;
      justify-content: flex-end;
      align-items: center;
    }
  }
}
.product__article-image-container .product__article-image-wrapper {
  width: 200px;
  margin-right: 10px;
  img {
    border-radius: 0.325rem;
  }
}

//Descritpion Product
.description-container {
  position: relative;
  width: 100%;
  min-height: 300px;
  padding: 10px;
  border-radius: 0.325rem;
  box-shadow:
    0 1px 4px rgba(0, 0, 0, 0.16),
    0 1px 4px rgba(0, 0, 0, 0.16);
}

.description-title {
  font-size: 1.25em;
  margin-bottom: 10px;
}

.description-content {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  transition: max-height 0.3s ease; /* Hiệu ứng chuyển đổi khi mở rộng */
  max-height: 1.2em; /* Chiều cao tối đa khi bị cắt */
}

.description-content.expanded {
  white-space: normal;
  overflow: visible;
  text-overflow: clip;
  max-height: none; /* Không giới hạn chiều cao khi mở rộng */
}

.toggle-button {
  display: block;
  margin-top: 10px;
}

// Rating Product
.rating-container {
  width: 100%;
  padding: 10px;
  border-radius: 0.325rem;
  box-shadow:
    0 1px 4px rgba(0, 0, 0, 0.16),
    0 1px 4px rgba(0, 0, 0, 0.16);
  margin-top: 10px;
  margin-bottom: 40px;
  .rating-header {
    p {
      font-size: 18px;
      font-weight: 700;
      line-height: 24px;
      letter-spacing: 0;
      text-align: left;
      color: #1f2123;
    }
  }
  .rating-divider {
    border-top: 2px solid rgb(222, 226, 230);
    margin: 12px 0;
  }
}
.rating-summary {
  width: 100%;
  &-average {
    width: 30%;
    text-align: center;
    .rating-average-score {
      color: rgb(250, 176, 5);
      font-size: 18px;
      font-weight: 700;
    }
    .average-icon {
      margin: 0 auto;
      font-size: 16px;
    }
  }
  .rating-summary-breakdown {
   width: 70%;
    
  }
}
.rating-summary-breakdown {
  // width: 100%;
  &-item {
    padding: 5px 20px;
    margin: 5px;
    border: 1px solid rgb(229, 231, 235);
    border-radius: 0.325rem;
    align-items: center;
    gap: 0.35rem !important;
  }
}
