// $font-poppins: "Poppins", sans-serif;
@import "../../styles/variables.scss";

// HEADER
header {
  position: sticky;
  top: 0; /* Sticky tại đỉnh của trang */
  z-index: 1000; /* Đảm bảo rằng phần tử này nằm trên các phần tử khác */
  background-color: white; /* Màu nền để đảm bảo không bị trong suốt */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Tạo bóng để phần sticky nổi bật */
}
/* Thêm lớp phủ màu xám */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(1px); /* Làm mờ phần tử phía sau overlay */
  z-index: 40; /* Đảm bảo lớp phủ nằm trên nội dung */
  @media (max-width: 799px) {
    z-index: 1000;
    top: 100px;
  }
}
.header_bottom_orverlay {
  position: absolute;
}
// header-top
.header__top {
  display: flex;
  gap: 20px;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 12px;
  justify-content: space-between;
}
.header__logo {
  padding-right: 20px;
  max-width: 250px;
  flex: 20%;
  cursor: pointer;
  img {
    width: 230px;
    height: 30px;
    // object-fit: cover;
    min-width: 120px;
    object-fit: contain;
  }
  @media (max-width: 799px) {
    img {
      width: 180px;
      height: 25px;
    }
  }

  @media (max-width: 600px) {
    width: 100px;
    height: 25px;
    img {
      width: 100px;
      height: 25px;
    }
  }
}

.header__menu {
  cursor: pointer;
  display: flex;
  align-items: center;
  padding: 5px 15px;
  background-color: $primary-color;
  color: #fff;
  border-radius: 0.5rem;
  height: 35px;
  &-icon {
    font-size: 20px;
    margin-right: 5px;
  }
  &-button {
    font-size: 12px;
    font-weight: 700;
    white-space: nowrap; // Ngăn văn bản bị xuống dòng
  }
  @media (max-width: 799px) {
    display: none;
  }
}
.header__cart,
.header__user {
  cursor: pointer;
  height: 35px;
  display: flex;
  align-items: center;
  padding: 5px 15px;
  color: #fff;
  border-radius: 0.5rem;
  &-icon {
    font-size: 16px;
    margin-right: 5px;
    @media (max-width: 600px) {
      margin-right: 2px;
    }
    @media (max-width: 400px) {
      font-size: 15px;
    }
  }
  &-button {
    font-size: 12px;
    font-weight: 700;
    white-space: nowrap; // Ngăn văn bản bị xuống dòng
    @media (max-width: 600px) {
      font-size: 11px;
      flex-wrap: wrap;
      height: 35px;
    }
    @media (max-width: 400px) {
      font-size: 9px;
    }
  }
  @media (max-width: 400px) {
    padding: 0 2px;
  }
}
.header__cart {
  background-color: $primary-color;
  &-button {
    @media (max-width: 600px) {
      white-space: normal; // Cho phép văn bản xuống dòng khi màn hình nhỏ hơn hoặc bằng 600px
      overflow: visible; // Hiển thị tất cả văn bản mà không cắt bớt
      text-overflow: clip; // Không hiển thị dấu ba chấm
      flex-wrap: wrap;
      font-size: 12px;
    }
  }
}
.header__user {
  background-color: $blue-color;
  display: flex;
  align-items: center;
  // flex: 1;
  &-button {
    @media (max-width: 600px) {
      white-space: normal; // Cho phép văn bản xuống dòng khi màn hình nhỏ hơn hoặc bằng 600px
      overflow: visible; // Hiển thị tất cả văn bản mà không cắt bớt
      flex-wrap: wrap;
      font-size: 11px;
      text-overflow: clip; // Không hiển thị dấu ba chấm
    }
  }
}
.header__menuMobile {
  display: none;
  cursor: pointer;
  .header__menuMoblie-icon {
    font-size: 25px;
    margin-left: 5px;
    color: $primary-color;
  }
  @media (max-width: 799px) {
    display: block;
  }
}
// header-center
.header__center {
  //  position: sticky;
  .header__nav {
    background-color: $primary-color;
    color: #fff;
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto auto;
    text-align: center;
  }

  .sub__menu_mobile {
    display: none;
  }
}

.header__nav {
  border-radius: 0.325rem;
  width: 100%;
  position: relative;
  // item_name
  &-item_name {
    padding: 10px 0;
    img {
      width: 32px;
      height: 32px;
      margin: 0 auto;
      color: #fff;
      filter: brightness(0) invert(1); // Thay đổi màu ảnh thành trắng
    }
    p {
      // width: 100%;
      font-weight: 700;
      font-size: 14.5px;
      display: -webkit-box;
      -webkit-line-clamp: 1;
      -webkit-box-orient: vertical;
      overflow: hidden;
    }
  }
}

.header__nav {
  .header__nav-item {
    // position: relative;
    cursor: pointer;
    .item__subMenu {
      display: none;
      // display: grid;
      // grid-template-columns: auto auto auto auto;
      position: absolute;
      top: 100%;
      left: 0;
      width: 100%;
      background-color: #fff;
      border-radius: 0.325rem;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      z-index: 10; // Đảm bảo item__subMenuở trên cùng
      max-width: 1370px;
      min-height: 512px;
      .item__subMenu-one {
        padding: 10px;
        text-align: left;
        h2 {
          font-size: 16px;
          color: #000;
          font-weight: 500;
          margin-bottom: 10px;
          border-bottom: 1px solid #f72429;
        }

        ul {
          li {
            padding: 5px 0;
            margin-bottom: 5px;
            font-weight: 400;
            font-size: 14px;
            color: #000;
          }
          li:hover {
            color: $primary-color;
          }
        }
      }
      .item__subMenu-image {
        margin: 0 auto;
        img {
          height: auto;
          width: 100%; // Đảm bảo ảnh phù hợp với chiều rộng của item__shadow
          filter: none; // Không có hiệu ứng lọc
          padding-top: 10px;
          border-radius: 18px;
        }
      }
      @media (max-width: 799) {
        display: none;
      }
    }
    &:hover {
      cursor: pointer;
      .item__subMenu {
        display: block;
        display: grid;
        // grid-template-columns: auto auto auto auto;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
      }
    }
  }
}

// Header__nav__Mobile
@media (max-width: 799px) {
  .header__center {
    position: relative;
    .header__nav {
      display: none;
      height: 100vh;
      // display: flex;
      flex-direction: column;
      width: 80px;
      border-radius: 0%;
      margin-top: 5px;
      .header__nav-item {
        .header__nav-item_name {
          img {
            width: 35px;
            height: 35px;
          }
          p {
            font-size: 12px;
            flex-wrap: wrap;
            -webkit-line-clamp: 2;
          }
        }
        .header__nav-item_name.active {
          background-color: #ea494c;
        }
      }
    }
    .sub__menu_mobile {
      display: none;
      margin-left: 80px;
      padding: 8px;
      position: absolute;
      background-color: #ffffff;
      top: 44px;
      left: 0;
      max-width: 709px;
      height: 100%;
      h3 {
        font-weight: 700;
      }
      button {
        border: 1px solid #000;
        color: #000;
        border-radius: 5px;
        padding: 5px 10px;
        font-size: 12px;
        margin-right: 5px;
      }
    }
  }
  .header__center .sub__menu_mobile.show {
    display: block;
  }
  .header__center .header__nav.show {
    display: flex;
  }
}

// header-bottom
.header__bottom {
  &-item {
    display: flex;
    gap: 10px;
    align-items: center;
    padding: 6px 0;
  }
  @media (max-width: 799px) {
    display: none;
  }
}

